.title{
    left: 5%;
}

#about{
    img{
        width: 20%;
    }
}

.about_text{

    margin-top: -7rem;
    margin-bottom: 7rem;

    p{
        line-height: 1.25rem;
    }
}

#inspiration{
    img{
        margin-top: 6rem;
    }
}


.ing_text{

    ul{
        width: 70%;
    }
}