.title{
    left: 10%;
}

#about{
    img{
        width: 20%;
    }
}

.about_text{

    margin-top: -5rem;

    p{
        line-height: 1.25rem;
    }
}

.insp{
    width: 80%;

    p{
        line-height: 1.25rem;    
    }
}

#ing{
    margin-top: 0;
}

#recipe{
    margin-bottom: 20rem;
}

footer{

    ul{
        margin-top: -3rem;
        margin-bottom: 6rem;

        li{
            padding-right: 1rem;
        }
    }
}