.title{

    left: 20%;
    
h1{
    font-size: 3rem;
}
}

#about{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 0;

    img{
        width: 35%;
    }
}

.about_text{
    margin-top: 0;
    margin-bottom: 0;
}


#inspiration{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 0;
    margin-bottom: 0;
}

#ing{
    grid-template-columns: 1fr;

    img{
        display: none;
    }
}

.ing_text{
    width: 100%;

    ul{
        //width: 62%;
        padding-left: 20%;
        line-height: 1;
    }

    li{
        padding-top: 0;
    }
}

#recipe{
    margin-top:0;
    margin-bottom: 30%;
}

footer{
    ul{
        margin-top: -3rem;
        margin-bottom: 6rem;

        a{
            padding: 1rem;
        }
    }
}