#video{
    
    margin-top: 6%;
    margin-bottom: 30%;

    article{
        text-align: center;

        h1{
            margin-bottom: 6rem;
        }
    }

    video{
        width: 60%;
        //margin-top: 7%;
    }
}